* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #2b2b54; 
    --mid-blue: #325288;
    --ballet-pink: #f4eee8;
    --light-pink: #f5cebe;
    --dark-teal: #114e60;

}

/* set base size for rems */
html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    color: var(--dark-blue);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    background-color: #FFF;
    border-bottom: 3px solid var(--ballet-pink);
    top: 0;
    z-index: 9999;
}

h1 {
    color: var(--dark-blue);
    font-size: 2.5rem;
    padding: 20px 20px 20px 30px;
    margin-left: 30px;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.625rem;
    flex: 0 17%;
    font-size: 33px;
    padding-top: 40px;
    padding-left: 30px;
}

h3::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--dark-blue);
    width: 35%;
    padding-top: 10px;
}

header nav {
    padding-right: 35.2px;
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    padding: 15px 17px;
    margin: 18px;
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: bold;
}

header nav ul li a:hover {
    color: #FFF;
    background-color: var(--dark-blue);
    border-radius: 40px;
    
}

.hero {
    background-color: var(--ballet-pink);
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 100px 60px 20px 0;
}

main > section {
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    padding: 30px;
    margin: 0 auto;
}

.about-me img {
    flex: 0 14%;
    width: 14%;
    border-radius: 50%;
    margin-left: 5px;
}

.about-me div {
    flex: 2;
    align-self: center;
    padding-left: 50px;
}

.about-me div > * {
    padding-bottom: 20px;
}

.about-me div p:nth-child(2) {
    width: 85%;
}

.my-work {
    justify-content: space-between;
    background-color: var(--light-pink);
    padding: 30px;
}

.my-work h3 {
    flex: 0 17%;
    font-size: 33px;
    padding-top: 40px;
    padding-left: 30px;
}

.my-work .project-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 80%;
}

.project-list a {
    display: flex;
    align-items: flex-end;
    flex: 1 45%;
    padding-left: 20px;
    height: 375px;
    margin: 5px;
    border: 2px solid var(--dark-teal);
    opacity: 0.7;
}

.project-list a:hover {
    opacity: 1;
}

/*
.my-work div {
    background-color: var(--mid-blue);
    color: #FFF;
    padding: 20px 60px 20px 20px;
}
*/ 

.project-list .featured-project {
    flex: 1 100%;
    background-image: url(./images/run-buddy.png);
    background-size: cover;

}

.project-list .project-one {
    background-image: url(./images/robot-gladiators.png);
    background-size: cover;
}

.project-one, .project-two {
    background-color: #d3d3d3;
}

/* contact me styles */
.contact-me {
    align-items: baseline;
    padding: 30px;
}


.contact-me > a::before {
    content: " ";
    background-image: url(./icons/icon-telephone.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}




@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 375px) {

}


