* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #2b2b54; 
    --mid-blue: #325288;
    --ballet-pink: #f4eee8;
    --light-pink: #f5cebe;
    --dark-teal: #114e60;

}

/* set base size for rems */
html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    color: var(--dark-blue);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    background-color: var(--dark-blue);
    color: #FFF;
    padding: 2.5rem 1.25rem;
    margin-left: 2rem;
    z-index: 9999;
}

header nav {
    padding: 2.2rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li a {
    padding: 1rem 1.1rem;
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: bold;
}

header nav ul li a:hover {
    color: var(--mid-blue);
    text-decoration: underline;
}

.hero {
    background-color: var(--ballet-pink);
    position: relative;
    top: -40px;
    z-index: 0;
}

.hero h2 {
    text-align: center;
    padding: 4rem;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px;
    max-width: 1100px;
    margin: 0 auto;
}

.about-me img {
    flex: 0;
    width: 30%;
    border-radius: 50%;
}

.about-me div {
    flex: 2;
    align-self: center;
    padding-left: 48px;
}

